html {
  height: 100%;
}

body {
  height: 100%;
}

.header_container {
  display: flex;
  justify-content: space-between;
}

.header_links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 30%;
}