/*common*/
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

/* header*/
header {
  width: 94vw;
  height: 10vh;
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1vh 1vh 1vh rgba(10, 10, 10, 0.08);
  position: fixed;
  z-index: 80;
}
header .header_inner {
  display: flex;
  align-items: center;
}
header .header_inner img {
  margin-right: 5vw;
}
header .header_inner span {
  color: rgb(149, 197, 237);
}

.error_container{
  width: 72vw;
  height: 64vh;
  padding: 5vh;
  top: 14vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius:2vh ;
  z-index: 90;
  }
  .material-symbols-outlined{
    top: 2vh;
    right: 1vw;
    cursor: pointer;
    position: absolute;
  }
  .error_inner{
    width: 20vw;
    height: 10vh;
    font-size: 1.5rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    span{
      font-size: 90%;
      color:rgb(248, 195, 128);
    }
    p{
      font-size: 90%;
    }
  }
  .error_icon{
    width: 5vw;
    height: auto;
    margin: 0 auto;
    padding: 1vh;
  }
